<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CarTrawler | Home</title>
  </head>
  <body>
    <div class="wrapper">
      <!-- Header -->
      <%= require('html-loader!../../partials/header.html').default %>
      <!-- Main -->
      <div class="content">
        <section class="legend-section">
          <div class="container">
            <div>
              <h4 class="pick-up-return-header">Pick Up Details</h4>
              <div class="pick-up-return-info" id="pick-up-location"></div>
              <div class="pick-up-return-info" id="pick-up-time"></div>
            </div>
            <div>
              <h4 class="pick-up-return-header">Return Details</h4>
              <div class="pick-up-return-info" id="return-location"></div>
              <div class="pick-up-return-info" id="return-time"></h4>
            </div>
          </div>
        </section>
        <section class="cars-section">
          <div class="container">
            <div class="cars-list-info">
              <span class="cars-list-length"></span>
            </div>
            <ul class="cars-list"></ul>
          </div>
        </section>
      </div>
      <!-- Footer -->
      <%= require('html-loader!../../partials/footer.html').default %>
    </div>
  </body>
</html>
