@import "../../css/styles.scss";

.legend-section {
  background-color: #f7f1f1;
  padding: 1em 0;
  text-align: center;
}

.legend-section .container {
  display: flex;
  justify-content: space-around;
}

.pick-up-return-header {
  text-transform: uppercase;
}

.pick-up-return-info {
  color: $primary-color;
  font-weight: 700;
}

.cars-section {
  padding: 2em 0;
}

.cars-list-info {
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;

  .cars-list-length {
    color: $tertiary-font-color;
    font-weight: 700;
    text-transform: uppercase;
    min-width: 100px;
  }

  label {
    text-transform: uppercase;
    color: $tertiary-font-color;
    font-weight: 700;
    margin-right: 0.5em;
  }

  select {
    padding: 0.5em 1em 0.5em 0.5em;
  }
}

.cars-list {
  border-top: 5px solid $primary-color;
}

@include responsive_mobile() {
  .legend .container {
    justify-content: space-between;
  }

  .cars-list-info {
    label {
      display: none;
    }
  }
}
