<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CarTrawler | Details</title>
  </head>
  <body>
    <div class="wrapper">
      <!-- Header -->
      <%= require('html-loader!../../partials/header.html').default %>
      <!-- Main -->
      <div class="content">
        <div class="container">
          <h1>Details</h1>
        </div>
      </div>
      <!-- Footer -->
      <%= require('html-loader!../../partials/footer.html').default %>
    </div>
  </body>
</html>
