<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CarTrawler | Details</title>
  </head>
  <body>
    <div class="wrapper">
      <!-- Header -->
      <%= require('html-loader!../../partials/header.html').default %>
      <!-- Main -->
      <div class="content">
        <div class="container">
          <div class="car-details">
            <section class="grid-section grid-vehicle">
              <h2 class="car-details-model"></h2>
              <div class="section-body">
                <div class="car-details-code row"></div>
                <div class="row">
                  <span class="car-details-passenger-qty"></span>
                  <span class="car-details-baggage-qty"></span>
                  <span class="car-details-door-count"></span>
                </div>
                <div class="row">
                  <span class="car-details-air-con"></span>
                  <span class="car-details-transmission"></span>
                  <span class="car-details-fuel"></span>
                </div>
              </div>
            </section>
            <section class="grid-section grid-image">
              <img
                class="car-details-image"
                src=""
                alt="Image of selected car"
              />
            </section>
            <section class="grid-section grid-vendor">
              <h3 class="car-details-vendor-header">Vendor Details</h3>
              <div class="section-body">
                <div class="row car-details-vendor-name"></div>
                <div class="row car-details-vendor-code"></div>
              </div>
            </section>
            <section class="grid-section grid-price">
              <h3 class="car-details-price-header">Total Price</h3>
              <div class="section-body">
                <div class="row car-details-price"></div>
                <div class="row car-details-availability"></div>
              </div>
            </section>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <%= require('html-loader!../../partials/footer.html').default %>
    </div>
  </body>
</html>
